.producto-detail {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 50px auto;
    width: 80%;
    min-height: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding: 10px;
    background-color: #333;
    color: $color-text-nav;

    .content-details{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        flex-grow: 1;
        h4 {
            padding: 10px;
        }

        p {
            margin: 0;
        }
    }

    img {
        width: 50%;
        height: 400px;
    }

    
}