.navbar{
    background-color: #222 ;
    ul{
        .nav-item{
            margin: 10px 20px; 
            &:hover{
                border-bottom: 1px solid #eee;
            }
            a{
                color: $color-text-nav !important;
            }
            .dropdown-menu{
                a{
                    color: #222 !important;
                }
            }
        }
    }
}