.navbar {
    background-color: #222;

    ul {
        .nav-item {
            margin: 10px 20px;

            .nav-link-activado {
                text-decoration: none;
                padding: 10px;
                margin-bottom: 0;
                border-bottom: solid 1px #eee;
            }

            .btn-nav{
                color: #eee !important;
                text-decoration: none;
                font-size: 1.5rem;
            }
            .btn-nav-activado{
                color: #eee !important;
                text-decoration: none;
                font-size: 1.5rem;
                border-bottom: solid #eee 1px;
            }

            .dropdown-menu {
                a {
                    color: #222 !important;
                }
            }
        }
    }
}