.container-count-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: solid 1px #111;
    background-color: #eee;

    .count-items {
        display: flex;
        justify-content: space-evenly;
        border-bottom: solid 1px #111;
        list-style: none;
        padding: 0;
        padding: 10px 15px;
        margin-bottom: 0;

        li {
            width: 33%;
            text-align: center;

            button {
                width: 100%;
                color: #057;
                border: none;
            }
        }
        .contador-prod-agr{
            color: #111;
        }
    }

    .btn-agregar {
        color: #057;
        padding: 10px 15px;
        text-decoration: none;
        text-align: center;
        border: none;
    }
}