.container-count-items {
    display: flex;
    flex-direction: column;

    .count-items {
        display: flex;
        justify-content: space-evenly;
        border-bottom: solid 1px #999;
        list-style: none;
        padding: 0;
        padding: 10px 15px;
        margin-bottom: 0;

        li {
            width: 33%;
            text-align: center;

            button {
                width: 100%;
                color: #294b73;
                font-size: 20px;
                border: none;
                background-color: transparent;
            }
        }
        .contador-prod-agr{
            color: #294b73;
            font-size: 25px;
        }
    }

    .btn-agregar {
        color:  #042b57;
        font-size: 20px;
        padding: 10px 15px;
        text-decoration: none;
        text-align: center;
        border: none;
    }
}